
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eddcd9;
}

header {
    background-color: #f2ebe9;
    color: #de5499;
    text-align: center;
    padding: 00px ;
    padding-top: 10px;
    font-size: 40px;
    height: 60px;
}

.education {
    margin: 20px;
    
   
}

.education-item {
    float: left;
    width: 33.33%;
    box-sizing: border-box; 
    padding: 20px;
    border: 0px solid #ccc;
    background-color: #FFE26A;
    height: 50px;
    font-family: cursive;
    border-radius: 30px;
    
   
}

.education-item h2 {
    margin-top: -9px;
}
nav{
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    border:2px #ea84a5 solid;
    background-color: #ea84a5;
}
